{{ define "footer" }}
    <!--<footer class="dark:text-white bottom">Footer</footer>-->
    </body>
    </html>
{{ end }}

{{ define "script" }}
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.body.addEventListener('htmx:beforeSwap', function (e) {
                if (e.detail.xhr.status >= 400 && e.detail.xhr.status <= 500) {
                    document.getElementById("error-block").style.display = "flex"
                    e.detail.shouldSwap = true;
                    e.detail.isError = false;
                }
                if (e.detail.xhr.status == 200) {
                    document.getElementById("error-block").style.display = "none"
                }
            })
        })
    </script>
{{ end }}

{{ define "loader" }}
    <div id="loader" class="htmx-indicator">
        <img alt="loading" width="50" src="/images/loader.svg"/>
    </div>
{{ end }}

{{ define "error" }}
    <div id="error-block"
         class="hidden items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
         role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div>
            <span id="error" hx-swap-oob="true"></span>
        </div>
    </div>
{{ end }}